/* global.css
   Global styles for LeaderBoard React app
   Includes typography, layout, buttons, and utility classes
*/

/* --------------------------- Typography ------------------------------ */
h2 {
	font-size: 2rem;
	font-weight: bold;
}

.small-text {
	font-size: smaller;
}

.underline {
	border-bottom: var(--lighter-shade) 1px solid;
}

/* --------------------------- Inline layouts ------------------------------ */
img {
	display: inline-block;
	max-width: 100%;
}

a,
button,
input {
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

/* --------------------------- Buttons ------------------------------ */
.btn {
	min-width: max-content;
	background: var(--primary-bg);
	color: var(--secondary-text-color);
	font-weight: bold;
	border: none;
	border-radius: 12px;
	padding: 0.5rem 1.5rem;
	text-align: center;
	transition: all 0.1s ease;
}

.btn-input {
	color: var(--secondary-accent-color);
}

.btn-input:hover {
	color: var(--secondary-text-color);
}

.btn:hover {
	background: var(--secondary-bg);
	transform: scale(1.01);
}

.btn.btn-blank:hover {
	background: transparent;
	color: var(--secondary-accent-color);
}

.btn:active {
	transform: scale(0.9);
}

.btn-light {
	background: var(--primary-bg-color);
	color: var(--secondary-accent-color);
	border: var(--secondary-accent-color) 1px solid;
}

.btn-light:hover {
	background: var(--tertiary-bg-color);
}

/* --------------------------- Main Layout ------------------------------ */
body,
html,
.container,
.section-container {
	width: 100%;
	height: 100%;
	min-width: min-content;
	min-height: min-content;
}

body {
	font-family: "Gilroy", Helvetica, sans-serif;
	line-height: 1.5;
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

.container,
.section-container {
	display: flex;
	margin: 0 auto;
}

.container {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.section-container {
	max-width: 1400px;
	height: initial;
	padding: 0 2rem;
}

/* --------------------------- Header & Footer Nav ------------------------------ */
#header,
#footer,
#main {
	width: 100%;
	padding: 2rem 0;
}

.header-container,
.footer-container,
.cta-container,
.nav,
.footer-tac {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header-container,
.footer-container {
	font-weight: bold;
}

.logo-img {
	width: 8.5rem;
	min-width: 8.5rem;
}

.logo-center {
	padding-top: 2rem;
	margin: 0 auto;
}

.nav-container {
	margin: auto;
}

.nav-links {
	padding: 1rem;
}

.nav-links:hover {
	color: var(--secondary-accent-color);
}

.footer-container {
	margin-bottom: 2rem;
}

.tac-box {
	display: flex;
	gap: 2rem;
}

.footer-tac {
	padding: 2rem 1rem;
	color: var(--darker-shade);
	border-top: var(--primary-text-color) 1px solid;
}
